#victory-message
  font-size: 32pt
  font-family: sans-serif
  height: 400px
  width: 400px
  cursor: pointer
  border-radius: 20px
  box-shadow: 6px -6px grey
  text-align: center
  position: relative
  overflow: hidden
  background-size: cover
  background-position: center
  background-repeat: no-repeat

  &:hover
    box-shadow: 1px -1px

  &.hell
    background-color: orange
    background-image: url("/img/demon.webp")
    & div p
      color: white
      text-shadow: 3px 3px 3px orange, -3px -3px 3px orange, 3px -3px 3px red, -3px 3px 3px orange

  &.heaven
    background-color: #3498db
    background-image: url("/img/angel.webp")
    & div p
      text-shadow: 3px 3px 10px white, -3px -3px 5px white, 4px -4px 2px white

  div
    position: absolute
    width: 100%
    text-align: center
    bottom: 0

