p#score-board
  font-size: 1.2rem
  text-align: center
  flex-basis: 99%
  margin-top: 0.5ch
  margin-bottom: 0

  @media screen and (min-width: 700px)
    position: absolute
    top: 0
    left: -40px
    font-size: 20pt
    writing-mode: vertical-rl
    margin: 0
    padding: 0
    height: 650px
    transform: rotate(180deg)




  

