header 
  svg
    transform: translateY(5px)

header
  margin-top: 100px
  text-align: center
  font-synthesis-small-caps: inherit
  max-width: 70ch
  width: 90vw
  margin: auto
  
button#start
  font-size: 30pt
  background-color: white
  border-radius: 10px
  padding: 30px
  width: 90vw
  max-width: 500px
  margin: auto
  margin-top: 50px