body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  margin-top: 100px;
  text-align: center;
  font-synthesis-small-caps: inherit;
}

#root {
  width: 580px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button#start {
  font-size: 30pt;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}
#gaming {
  display: flex;
  flex-direction: column;
}
#fixer {
  position: relative;
  margin: 0;
  padding: 0;
  order: 1;
}
#panel {
  border: 1px dashed #ddd;
  order: 2;
}
/* 
#panel.heaven {
}

#panel.hell {
}
 */
#board {
  margin: 0;
}
#heav-score {
  position: absolute;
  top: 50px;
  left: 40px;
  width: 80px;
  font-size: 18pt;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 5px;
  transition: box-shadow 0.5s ease;
}
#heav-score.border {
  box-shadow: 2px 2px 15px rgba(255, 255, 255, 1),
    2px -2px 15px rgba(255, 255, 255, 1), 0px 2px 15px rgba(255, 255, 255, 1);
  /* -2px -2px 15px rgba(255, 255, 255, 1); */
}

#hell-score {
  position: absolute;
  top: 50px;
  left: 330px;
  width: 80px;
  font-size: 18pt;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 5px;
  transition: box-shadow 0.5s ease;
}

#hell-score.border {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 1), 2px -2px 15px rgba(0, 0, 0, 1),
    0px 2px 15px rgba(0, 0, 0, 1);
  /* -2px -2px 15px rgba(0, 0, 0, 1); */
}

#real-board {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid darkblue;
  border-radius: 10px;
  order: 1;
}

#real-board.hell {
  border-color: darkred;
}
#real-board.heaven {
  background-color: lightblue;
}

#real-board.hell {
  background-color: orange;
}

.columna {
  margin: 6px;
  padding: 0;
  width: 50px;
  border-radius: 10px;
}
.heaven .columna.active {
  box-shadow: 2px 2px 15px rgba(255, 255, 255, 1),
    2px -2px 15px rgba(255, 255, 255, 1);
}

.hell .columna.active {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 1), 2px -2px 15px rgba(0, 0, 0, 1);
}

p#score-board {
  position: absolute;
  top: 160px;
  left: -40px;
  font-size: 20pt;
  text-align: center;
  writing-mode: vertical-rl;
  margin: 0;
  padding: 0;
  height: 400px;
  transform: rotate(180deg);
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 34px;
  padding: 0;
  border-radius: 18px;
  margin: 2px;
  box-sizing: border-box;
}

.circle.heaven {
  background-color: #3498db;
}
.circle.earth {
  background-color: #34db5e;
}

.circle.hell {
  background-color: #db7734;
}

.circle.hell.border {
  border: 4px solid darkred;
}

.circle.heaven.border {
  border: 4px solid darkslateblue;
}

.circle.heaven.dominion {
  background-color: darkslateblue;
}

.circle.hell.dominion {
  background-color: darkred;
}

.dominion {
  color: white;
  font-weight: bold;
}

.meeple {
  height: 0;
  width: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  left: 15px;
  transition: top 0.3s ease;
}

.label {
  width: 100%;
  text-align: center;
}

#head {
  transform: rotate(180deg);
}

#dadum {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  width: 450px;
  margin-top: 10px;
}

.in-game-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 450px;
  margin-top: 10px;
}

.in-game-buttons button {
  padding: 10px;
  width: 100%;
  font-size: 16pt;
}

.disappear {
  /* display: none; */
  background-color: red;
}

.dado {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#dadum .dado {
  width: 78px;
  height: 60px;
  margin-left: 5px;
  font-size: 16pt;
  font-weight: bold;
  transition: transform 0.4s ease;
}

.dado.par {
  transform: rotate(1080deg);
}

.origin .dado {
  width: 38px;
  height: 18px;
  font-size: 10pt;
}

.heaven .dado {
  background-image: url("/src/img/white-dice.png");
  color: darkblue;
  padding-top: 10px;
}

.hell .dado {
  background-image: url("/src/img/black-dice.png");
  color: darkred;
  padding-bottom: 10px;
}

#dadum button {
  padding: 0 5px;
  font-size: 15pt;
}
.pair {
  display: flex;
}

.dice-case {
  display: flex;
}

.origin .dado {
  background-repeat: no-repeat;
  background-size: cover; /* 'contain'  */
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 30px;
  font-size: 10pt;
}

.origin .dado {
  padding: 0px;
  padding-top: -25px;
}

.hell .pair .dado:first-child {
  transform: rotate(-20deg);
}
.hell .pair .dado:nth-child(2) {
  transform: rotate(25deg);
  margin-left: -10px;
}
.pair .dado:first-child {
  transform: rotate(10deg);
}
.heaven .pair .dado:nth-child(2) {
  transform: rotate(-20deg);
  margin-left: -10px;
}

/* 
Victory 
 */
#victory-message {
  font-size: 32pt;
  font-family: sans-serif;
  min-height: 600px;
  height: 100vh;
  width: 100%;
  cursor: pointer;
  border: 3px solid grey;
  border-radius: 20px;
  box-shadow: 6px -6px grey;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#victory-message.hell {
  background-color: orange;
  background-image: url("/src/img/demon.webp");
}
#victory-message.heaven {
  background-color: #3498db;
  background-image: url("/src/img/angel.webp");
}
#victory-message div {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
}

#victory-message.heaven div p {
  text-shadow: 3px 3px 10px white, -3px -3px 5px white, 4px -4px 2px white;
}

#victory-message.hell div p {
  color: white;
  text-shadow: 3px 3px 3px orange, -3px -3px 3px orange, 3px -3px 3px red,
    -3px 3px 3px orange;
}
#victory-message:hover {
  box-shadow: 1px -1px;
}

@media screen and (min-width: 900px) {
  #gaming {
    flex-direction: row;
  }

  #dadum,
  .in-game-buttons {
    flex-direction: column;
    width: 120px;
    align-items: center;
    width: 150px;
  }

  .in-game-buttons button:not(:first-child) {
    margin-top: 10px;
  }

  .option-button {
    margin-bottom: 15px;
  }
}
