@import "sass/components/score-board"
@import "sass/components/dice"
@import "sass/components/panel"
@import "sass/components/title"

body
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  display: flex
  justify-content: center
  align-items: center

#root
  display: flex
  flex-direction: column
  transform-origin: top left
  margin: 0

#gaming
  display: flex
  transform: scale(1)
  border: 3px solid grey
  transition: all 0.5s ease
  flex-wrap: wrap
  justify-content: space-evenly

#fixer
  position: relative
  margin: 0
  padding: 0
  order: 1
  display-grow: 0
  width: 350px
  height: 458px

#heav-score
  position: absolute
  top: 24px
  left: 16px
  width: 60px
  font-size: 14pt
  text-align: center
  background-color: lighblue
  padding: 5px
  border-radius: 5px
  transition: box-shadow 0.5s ease
  .hell &
    border: 3px solid darkblue

  &.border
    background: darkblue
    color: white

#hell-score
  position: absolute
  bottom: 24px
  right: 16px
  width: 60px
  font-size: 14pt
  text-align: center
  border-radius: 5px
  padding: 5px
  transition: box-shadow 0.5s ease

  .heaven &
    border: 3px solid darkred

  &.border
    background: darkred
    color: white

#real-board
  display: flex
  align-items: center
  justify-content: center
  order: 1

  &.hell
    background: linear-gradient(to top, orange 0%, white 50%)

  &.heaven
    background: linear-gradient(to top, white 50%, lightblue 80%)

.columna
  margin: 7px
  padding: 0
  width: 36px
  border-radius: 12px

  .heaven &
    &.active
      // box-shadow: 3px -3px 1px lightblue, -1px 1px 1px lightblue
      background-color: white

  .hell &
    &.active
      // box-shadow: 3px -3px 1px orange, -1px 1px 1px orange
      background-color: white

.circle
  display: flex
  align-items: center
  justify-content: center
  width: 32px
  height: 24px
  padding: 0
  border-radius: 12px
  margin: 2px
  box-sizing: border-box

  &.heaven
    background-color: #3498db
    &.border
      border: 3px solid darkslateblue
    &.dominion
      background-color: darkslateblue

  &.earth
    background-color: #34db5e

  &.hell
    background-color: #db7734
    &.border
      border: 3px solid darkred
    &.dominion
      background-color: darkred

.dominion
  color: white
  font-weight: bold

.meeple
  height: 0
  width: 0
  background-repeat: no-repeat
  background-size: contain
  background-position: center
  left: 15px
  transition: top 0.3s ease

#head
  transform: rotate(180deg)

.in-game-buttons
  display: flex
  justify-content: space-between
  margin-top: 8px
  flex-wrap: no-wrap

  button
    // Roll the dice // Pass //
    padding: 8px
    margin: 0 4px
    font-size: 15pt
    flex-basis: 240px
    flex-grow: 1
    background-color: white
    border-radius: 4px



  .option-button
    @media screen and (min-width: 768px)
      margin-bottom: 12px

.disappear
  display: none


.like-a-button
  box-shadow: 2px 2px 10px grey
  background-color: #ddd
  animation: vibration 4s ease 1s 8
  @keyframes vibration
    0%
      transform: rotate(0)
    45%
      transform: rotate(0deg)
    48%
      transform: rotate(-1deg)
    50%
      transform: rotate(1deg)
    52%
      transform: rotate(-1)
    55%
      transform: rotate(0deg)
    100%
      transform: rotate(0deg)

.like-a-button:hover
  cursor: pointer
  box-shadow: 1px 1px 6px grey

.option-div
  flex-basis: 162px
  flex-grow: 0
  flex-shrink: 0
  flex-wrap: wrap
  flex-direction: column
  padding: 3px
  font-size: 0.8rem

  @media screen and (min-width: 768px)
    flex-basis: 300px
    max-width: 90%
    margin: auto
    flex-shrink: 0
    font-size: 1rem

  &:nth-child(2)
    @media screen and (max-width: 767px)
      border-left: 1px solid grey
      margin-left: 4px
      padding-left: 4px

  &:nth-child(3)
    @media screen and (max-width: 767px)
      border-left: 1px solid grey
      margin-left: 4px
      padding-left: 4px

  @media screen and (min-width: 768px)
    margin-top: 10px

#show
  display: flex
  flex-wrap: wrap
  justify-content: space-between

  #lost-button
    //this is lost button
    flex-basis: 90%
    flex-shrink: 0
    flex-grow: 1
    margin-top: 8px
    height: 40px
    font-size: 13pt
    cursor: pointer



.message
  p
    text-align: center
    margin-top: 3px

.option-button
  font-size: 14pt

#victory-message
  font-size: 32pt
  font-family: sans-serif
  height: 400px
  width: 400px
  cursor: pointer
  border: 3px solid grey
  border-radius: 20px
  box-shadow: 6px -6px grey
  text-align: center
  position: relative
  overflow: hidden
  background-size: cover
  background-position: center
  background-repeat: no-repeat

  &:hover
    box-shadow: 1px -1px

  &.hell
    background-color: orange
    background-image: url("/img/demon.webp")
    & div p
      color: white
      text-shadow: 3px 3px 3px orange, -3px -3px 3px orange, 3px -3px 3px red, -3px 3px 3px orange

  &.heaven
    background-color: #3498db
    background-image: url("/img/angel.webp")
    & div p
      text-shadow: 3px 3px 10px white, -3px -3px 5px white, 4px -4px 2px white

  div
    position: absolute
    width: 100%
    text-align: center
    bottom: 0
